doctype html
head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no")
    title #{title}
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel="stylesheet", href="stylesheets/base.css")
    script(type='text/javascript' src='http://code.jquery.com/jquery-1.7.1.js')
    script(src="javascripts/base.js")
    script(src="javascripts/bubbles.js")

body
    .body-wrapper#bubbleWrapper
        .bubbles#bubbleContainer
            script.
                var bubbles = document.getElementById('bubbleContainer');
                //- bubbles.setAttribute('data-0', 'top:1px;')
                //- bubbles.setAttribute('data-' + window.innerHeight, 'top:-' + window.innerHeight + 'px;');
                bubbles.setAttribute('data-0', 'opacity:1;')
                bubbles.setAttribute('data-' + (window.innerHeight * 0.75), 'opacity:0;');
            canvas#bubbles

        .panel.cover
            .container
                .hero
                    h1 Hack the Anvil
                    h2 Learn together. Create together.
                    p March 6-8 • Purdue University • 36 Hours
                    .button-row
                        button.btn.btn-pink Sign up

        .divider-image#baseDividerImage.divider1
            canvas.slants(data-align="left" data-top="white" data-bottom="white")

        .panel.bg-white
            .container
                .spawn-bubbles.bubbles-left(data-align="left")
                .content.right
                    h1 OUR MISSION
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, #[span.t-yellow sed do eiusmod tempor incididunt] ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        
        .divider-image.divider2
            canvas.slants(data-align="right" data-top="white" data-bottom="white")

        .panel.bg-white
            .container
                .spawn-bubbles.bubbles-right(data-align="right")
                .content.left
                    h1 FAQ
                    h4 Question for the FAQ goes here?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    h4 Question for the FAQ goes here?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    h4 Question for the FAQ goes here?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    h4 Question for the FAQ goes here?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    h4 Question for the FAQ goes here?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                    h4 Question for the FAQ goes here?
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
       
        .divider-image.divider3
            canvas.slants(data-align="left" data-top="white" data-bottom="white")

        .panel.bg-white
            .container
                .spawn-bubbles.bubbles-left(data-align="left")
                .content.right.schedule
                    h1 Schedule
                    h4 Friday, March 6th
                    .entry
                        p.time 6:00 pm
                        p.info Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .entry
                        p.time 8:30 pm
                        p.info Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .entry
                        p.time 10:00 pm
                        p.info Hacking begins
                    .entry
                        p.time 11:30 pm
                        p.info Ut enim ad minim veniam.
                    h4 Saturday, March 7th
                    .entry
                        p.time 6:00 pm
                        p.info Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .entry
                        p.time 8:30 pm
                        p.info Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .entry
                        p.time 10:00 pm
                        p.info Hacking begins
                    .entry
                        p.time 11:30 pm
                        p.info Ut enim ad minim veniam.
                    h4 Sunday, March 8th
                    .entry
                        p.time 6:00 pm
                        p.info Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    .entry
                        p.time 8:30 pm
                        p.info Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    .entry
                        p.time 10:00 pm
                        p.info Hacking begins
                    .entry
                        p.time 11:30 pm
                        p.info Ut enim ad minim veniam.


        .divider-image.divider4
            canvas.slants(data-align="right" data-top="white" data-bottom="white")

        .panel.bg-white
            .container
                .content.center
                    h1 Sponsors
                    .gold
                        img(src="images/apple.jpg")
                    .silver
                        img(src="images/cisco.png")
                        img(src="images/inin.png")
                    .bronze
                        img(src="images/twilio.png")

                    .break-sm
                    h1 Partners
                    .partner
                        img(src="images/purduehackers.png")
                        p Purdue Hackers
                    .partner
                        img(src="images/anvil.png")
                        p The Anvil
                    <br>
                    .partner
                        img.smaller(src="images/aitp.png")
                    .partner
                        img.smaller(src="images/psg.png")
       
        .footer-padding
        .footer
            .container
                p Copyright © 2015 Hack the Anvil
                .button-row
                    i.social-button.fa.fa-envelope
                    i.social-button.fa.fa-facebook
                    i.social-button.fa.fa-twitter
    script(src="javascripts/skrollr.js")
    script.
        spawnBubbles();
        initBubbles();
        var s = skrollr.init();
