doctype html
head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
    title #{title}
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel="stylesheet", href="stylesheets/base.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="javascripts/bubbles.js")

body
    .body-wrapper#bubbleWrapper
        .bubbles
            canvas#bubbles

        .panel.cover
            .container
                .hero
                    h1 Hack the Anvil
                    h2 Learn together. Create together.

                    p March 6-8 • Purdue University • 36 Hours
                    
                    .button-row
                        button.btn.btn-pink Sign up

        .divider-image
            svg.triangles(viewBox="0 0 960 600" preserveAspectRatio="none")
                //- defs
                //-     filter(id="shadow")
                //-         feGaussianBlur(in="SourceGraphic" stdDeviation="50")
                //- path(class="shadow shadow-top" filter="url(#shadow)" d="M-50,-100 L1010,-100 L1010,125 L960,25 L0,125 L-50,225 L-50,-50")
                path(d="M0,0 L960,0 L0,100 L0,0")
                //- defs
                //-     filter(id="shadow")
                //-         feGaussianBlur(in="SourceGraphic" stdDeviation="50")
                //- path(class="shadow shadow-top" filter="url(#shadow)" d="M-50,700 L1010,700 L1010,475 L960,575 L0,475 L-50,375 L-50,700")
                path.bg-yellow(d="M0,500 L960,600 L960,601 L0,601 L0,500")
        .panel.bg-yellow
            .container
                .content.right
                    h1 OUR MISSION
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, #[span.t-white sed do eiusmod tempor incididunt] ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .divider-image
            svg.triangles(viewBox="0 0 960 600" preserveAspectRatio="none")
                //- defs
                //-     filter(id="shadow")
                //-         feGaussianBlur(in="SourceGraphic" stdDeviation="50")
                //- path(class="shadow shadow-top" filter="url(#shadow)" d="M-50,-100 L1010,-100 L1010,225 L960,125 L0,25 L-50,125 L-50,-50")
                path.bg-yellow(d="M0,0 L960,0 L960,100 L0,0")
                //- defs
                //-     filter(id="shadow")
                //-         feGaussianBlur(in="SourceGraphic" stdDeviation="50")
                //- path(class="shadow shadow-top" filter="url(#shadow)" d="M-50,700 L1010,700 L1010,375 L960,475 L0,575 L-50,475 L-50,700")
                path(class="bg-white" d="M0,600 L960,500 L960,601 L0,601 L0,600")
        .panel.bg-white
            .container
                .content.left
                    h1 FAQ
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, #[span.t-yellow sed do eiusmod tempor incididunt] ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .divider-image
            svg.triangles(viewBox="0 0 960 600" preserveAspectRatio="none")
                //- defs
                //-     filter(id="shadow")
                //-         feGaussianBlur(in="SourceGraphic" stdDeviation="50")
                //- path(class="shadow shadow-top" filter="url(#shadow)" d="M-50,-100 L1010,-100 L1010,125 L960,25 L0,125 L-50,225 L-50,-50")
                path.bg-white(d="M0,0 L960,0 L0,100 L0,0")
                //- defs
                //-     filter(id="shadow")
                //-         feGaussianBlur(in="SourceGraphic" stdDeviation="50")
                //- path(class="shadow shadow-top" filter="url(#shadow)" d="M-50,700 L1010,700 L1010,475 L960,575 L0,475 L-50,375 L-50,700")
                path.bg-gray(d="M0,500 L960,600 L960,601 L0,601 L0,500")
        .panel.bg-gray
            .container
                .content.right
                    h1 Schedule
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, #[span.t-pink sed do eiusmod tempor incididunt] ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .divider-image
            svg.triangles(viewBox="0 0 960 600" preserveAspectRatio="none")
                //- defs
                //-     filter(id="shadow")
                //-         feGaussianBlur(in="SourceGraphic" stdDeviation="50")
                //- path(class="shadow shadow-top" filter="url(#shadow)" d="M-50,-100 L1010,-100 L1010,225 L960,125 L0,25 L-50,125 L-50,-50")
                path.bg-gray(d="M0,0 L960,0 L960,100 L0,0")
                //- defs
                //-     filter(id="shadow")
                //-         feGaussianBlur(in="SourceGraphic" stdDeviation="50")
                //- path(class="shadow shadow-top" filter="url(#shadow)" d="M-50,700 L1010,700 L1010,375 L960,475 L0,575 L-50,475 L-50,700")
                path(class="bg-white" d="M0,600 L960,500 L960,601 L0,601 L0,600")
        .panel.bg-white
            .container
                .content.center
                    h1 Sponsors
        .footer-padding
        .footer
            .container
                p Copyright © 2015 Hack the Anvil
                .button-row
                    i.social-button.fa.fa-envelope
                    i.social-button.fa.fa-facebook
                    i.social-button.fa.fa-twitter
    script.
        initBubbles();
