doctype html
head
    meta(charset='UTF-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=no")
    title #{title}
    link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css')
    link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
    link(rel="stylesheet", href="stylesheets/base.css")
    script(type='text/javascript' src='http://code.jquery.com/jquery-1.7.1.js')
    script(src="javascripts/base.js")
    script(src="javascripts/bubbles.js")

    script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-59158611-1', 'auto');
        ga('send', 'pageview');


body
    .body-wrapper#bubbleWrapper
        .bubbles#bubbleContainer
            script.
                var bubbles = document.getElementById('bubbleContainer');
                //- bubbles.setAttribute('data-0', 'top:1px;')
                //- bubbles.setAttribute('data-' + window.innerHeight, 'top:-' + window.innerHeight + 'px;');
                bubbles.setAttribute('data-0', 'opacity:1;');
                bubbles.setAttribute('data-' + (window.innerHeight * 0.75), 'opacity:0;');
            canvas#bubbles

        .panel.cover
            .container
                .hero
                    h1 Hack the Anvil
                    h2 Learn together. Create together.
                    p March 6-8 • 320 North St, West Lafayette, IN • 36 Hours
                    //- p March 6-8 • Purdue University • 36 Hours
                    .button-row
                        a#[button.btn.btn-pink Registration Closed]

        .divider-image.divider1(data-center="background-position: 0% 0%;" data-bottom-top="background-position: 0% -50%;" data-top-bottom="background-position: 0% 50%;")
            //- canvas.slants(data-align="left" data-top="white" data-bottom="white")
        //- 
        //- #map.divider1(style="width:100%; ")
            

        .panel.bg-white
            .container
                .spawn-bubbles.bubbles-right(data-align="right")
                .content.left
                    h1 OUR MISSION
                    p Our team’s mission is to ignite a group of #[span.t-pink imaginative], #[span.t-blue ambitious], and #[span.t-yellow inspired] students at Purdue University. That’s why we are hosting the first-ever Hack the Anvil, a 36-hour, 400-Purdue-student hackathon where teams of Boilermakers craft hardware and software projects that solve important real-world problems. Hack the Anvil ties together the ever-growing hacker community at Purdue with top-tier companies to support the development of remarkable student projects and personal relationships.
                
                
                

        .divider-image#baseDividerImage.divider2(data-center="background-position: 0% 0%;" data-bottom-top="background-position: 0% -50%;" data-top-bottom="background-position: 0% 50%;")
            //- canvas.slants(data-align="right" data-top="white" data-bottom="white")

        .panel.bg-white
            .container
                .spawn-bubbles.bubbles-left(data-align="left")
                .content.right
                    h1 FAQ
                    h4 What if I've never programmed before?
                    p That's perfect! We're going to have specialized tracks set up throughout the event just for beginners. You'll get to work with experienced hackers and learn to make something awesome!
                    h4 What can I make?
                    p Web, desktop, mobile, hardware- it’s up to you to make whatever kind of project you want as long as it is software-related.
                    h4 What are the prizes?
                    p We'll let you know soon :)
                    h4 Who can come?
                    p Any Purdue student is welcome to come, just make sure to register online. Join your friends and create a team of up to four people!
                    h4 Have more questions?
                    p Email us day or night at #[a.t-yellow(href="mailto:team@hacktheanvil.com") team@hacktheanvil.com]!

        .divider-image.divider3(data-center="background-position: 0% 0%;" data-bottom-top="background-position: 0% -50%;" data-top-bottom="background-position: 0% 50%;")
            //- canvas.slants(data-align="left" data-top="white" data-bottom="white")

        .panel.bg-white
            .container
                .spawn-bubbles.bubbles-right(data-align="right")
                .content.left.schedule
                    h1 Schedule
                    h4 Friday, March 6th
                    .entry
                        p.time 8:00 pm
                        p.info Sponsor check-in begins.
                    .entry
                        p.time 8:30 pm
                        p.info Hacker check-in begins.
                    .entry
                        p.time 10:00 pm
                        p.info Opening Ceremonies.
                    .entry
                        p.time 11:00 pm
                        p.info Hacking begins!
                    .entry
                        p.time 11:15 pm
                        p.info Microsoft tech talk: Intro to Azure web sites, VMs, and Mobile services
                    h4 Saturday, March 7th
                    .entry
                        p.time 2:00 am
                        p.info Late night snack is served.
                    .entry
                        p.time 8:00 am
                        p.info Breakfast is served.
                    .entry
                        p.time 11:00 am
                        p.info Eleven-fifty - iOS Crash Course
                    .entry
                        p.time 12:00 pm
                        p.info Lunch is served.
                    .entry 
                        p.time 1:00 pm
                        p.info Eleven-fifty - Android Crash Course
                    .entry
                        p.time 6:00 pm
                        p.info Dinner is served.
                    h4 Sunday, March 8th
                    .entry
                        p.time 2:00 am
                        p.info Late night snack is served.
                    .entry
                        p.time 11:00 am
                        p.info Hacking ends. Lunch is served.
                    .entry
                        p.time 12:00 pm
                        p.info Expo begins.
                    .entry
                        p.time 2:00 pm
                        p.info Expo ends.
                    .entry
                        p.time 2:15 pm
                        p.info Closing Ceremonies.
                



        .divider-image.divider4(data-center="background-position: 0% 0%;" data-bottom-top="background-position: 0% -50%;" data-top-bottom="background-position: 0% 50%;")
            //- canvas.slants(data-align="right" data-top="white" data-bottom="white")

        .panel.bg-white
            .container
                .content.center
                    h1 Sponsors
                    .gold
                        //- a(href="http://apple.com") Apple
                        a(href="http://www.apple.com/jobs/students")
                            img(src="images/apple.png")
                    .silver
                        img(src="images/cisco.png")
                        img(src="images/inin.png")
                        img(src="images/context.png")
                    .bronze
                        img(src="images/Epic.svg")
                        img(src="images/wolfram.png")
                        img(src="images/pebble.png")
                        img(src="images/Microsoft.svg")

                    .break-sm
                    h1 Partners
                    .partner
                        img(src="images/anvil.png")
                        p The Anvil
                    .partner
                        img.smaller(src="images/twilio.png")

        .footer-padding
        .footer
            .container
                p Copyright © 2015 Hack the Anvil
                .button-row
                    a(href="mailto:team@hacktheanvil.com") #[i.social-button.fa.fa-envelope]
                    a(href="https://www.facebook.com/events/383200295194735/") #[i.social-button.fa.fa-facebook]
    script(src="https://maps.googleapis.com/maps/api/js")
    script(src="javascripts/skrollr.js")
    script.
        function initialize() {
            console.log("test");
            var mapCanvas = document.getElementById('map');
            var myLocation = new google.maps.LatLng(40.4261782, -86.9100484);
            var mapOptions = {
                  center: myLocation,
                  zoom: 18,
                  scrollwheel: false,
                  navigationControl: false,
                  mapTypeControl: false,
                  scaleControl: false,
                  draggable: false,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(mapCanvas, mapOptions);
            var marker = new google.maps.Marker({
                position: myLocation,
                map: map,
                title: 'The Anvil'
            });
            var iw = new google.maps.InfoWindow({
                content: "The Anvil"
            });
            google.maps.event.addListener(marker, "click", function (e) { iw.open(map, marker); });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    script.
        spawnBubbles();
        initBubbles();
        if (window.innerWidth > 768) {
            var s = skrollr.init();
        }
