/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media (max-width: 600px) {
  body {
    font-size: 12px; } }

.bg-dark {
  fill: #333;
  background-color: #333; }

.bg-yellow {
  fill: #F5AE42;
  background-color: #F5AE42; }

.bg-pink {
  fill: #FF6666;
  background-color: #FF6666; }

.panel {
  position: relative;
  width: 100%;
  height: 80vh;
  min-height: 32em; }

.divider-image {
  position: relative;
  width: 100%;
  height: 80vh;
  background-image: url('/images/divider-bg.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .divider-image .triangles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: white; }
    .divider-image .triangles .shadow {
      fill: black;
      opacity: 0.8; }
  .divider-image .bottom-triangle {
    position: absolute;
    bottom: 0;
    right: -1%;
    width: 102%;
    fill: white;
    -webkit-filter: drop-shadow(-5px -5px 5px #000);
    filter: drop-shadow(-5px -5px 5px #000); }
